# Pliki i foldery generowane przez IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
nbproject/
.gradle/
.settings/
bin/

# Foldery generowane przez narzędzia budowania (Maven, Gradle)
# Ignoruje WSZYSTKIE katalogi 'target' i 'build' w całym projekcie
target/
build/
out/

# Pliki specyficzne dla Mavena i gita
.mvn/
.git/

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki logów i inne artefakty
*.log
system-info.txt

*.class